@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  margin: 0;
  padding:0;
  font-family: 'Anton', sans-serif;
  background-color: #c1b2a9;
  box-sizing: border-box;
}

